<div class="container">
  <div class="title">
    <h2>Groups around your area and interest</h2>
  </div>

  <div class="button-container">
    <button class="btn btn-primary" routerLink="/new-group">
      Start a new Group
    </button>
  </div>

  <div class="groups-container">
    <div><h5>My Groups</h5></div>

    <!-- If My groups available -->
    <ng-container *ngIf="isMyGroupsAvailable; else second">
      <div class="container" *ngFor="let group of groups">
        <app-group-item [group]="group"></app-group-item>
      </div>
    </ng-container>

    <ng-template #second>
      <div class="alert alert-dark" role="alert">
        You haven't joined to any group.
      </div>
    </ng-template>
  </div>
</div>
