<div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1 class="heading-text">
          Discover events for all the things you love
        </h1>

        <button class="btn btn-primary btn-lg mt-3">Join DevHitch</button>
      </div>

      <div class="col-6">
        <img
          class="heading-vector"
          src="../../../assets/images/home.png"
          alt="Hi to DevHitch"
          width="140%"
        />
      </div>
    </div>
  </div>

  <!-- Featured Events -->
  <app-featured-events></app-featured-events>
</div>
