.profile-section {
  padding-top: 5%;
}

.profile-cover {
  width: 100%;
  height: 150px;
}

.profile-container {
  background-color: white;
  border-radius: 15px;
  border-color: grey;
  margin: 0 auto;
}

.center {
  text-align: center;
  padding-top: 5%;
}
