<div class="footer bg-primary">
  <div style="width: 100%; height: 20px;"></div>
  <div class="container">
    <div class="d-flex justify-content-center">
      <h3>
        Create your own meetup group
        <button type="button" class="btn btn-outline-light">
          Get Started
        </button>
      </h3>
    </div>

    <hr />

    <div class="container">
      <div class="row">
        <div class="col-4 footer-col">
          <h5>Your Account</h5>
          <nav class="nav flex-column">
            <a class="nav-link active" aria-current="page" href="#">Sign Up</a>
            <a class="nav-link" href="#">Log In</a>
            <a class="nav-link" href="#">Help</a>
          </nav>
        </div>

        <div class="col-4 footer-col">
          <h5>Discover</h5>
          <nav class="nav flex-column">
            <a class="nav-link active" aria-current="page" href="#">Group</a>
            <a class="nav-link" href="#">Calendar</a>
            <a class="nav-link" href="#">Topics</a>
          </nav>
        </div>

        <div class="col-4 footer-col">
          <h5>Meetup</h5>
          <nav class="nav flex-column">
            <a class="nav-link active" aria-current="page" href="#">Blog</a>
            <a class="nav-link" href="#">Careers</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
