<div class="row" style="height: 80vh;">
  <div class="col-7">
    <img class="heading-vector w-100" src="../../../assets/images/signin.png" alt="Sign Up to DevHitch" />
  </div>
  <div class="col-5">
    <form class="login-form" [formGroup]="signUpForm" (ngSubmit)="signUpFormHandler()">
      <div class="form-title">
        <h3>Signup to DevHitch</h3>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="name" />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" />
      </div>

      <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary">Submit</button>
    </form>

    <hr />

    <div class="btn-group-vertical" style="width: 100%;">
      <button type="button" class="btn btn-outline-dark">
        Log in with Google
        <img src="https://img.icons8.com/color/25/000000/google-logo.png" />
      </button>
      <button type="button" class="btn btn-outline-dark">
        Log in with Facebook
        <img src="https://img.icons8.com/fluent/25/000000/facebook-new.png" />
      </button>
      <button type="button" class="btn btn-outline-dark">
        Log in with Apple
        <img src="https://img.icons8.com/ios-filled/25/000000/mac-os.png" />
      </button>
    </div>
  </div>
</div>